<table class="table table-striped table-bordered table-dark">
    <thead>
      <tr>
        <th>Pizza Id</th>
        <th>Pizza Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Crust</th>
        <th>No. of Toppings</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr  
         *ngFor="let o of orders" >
        <td>{{o.id}}</td>
        <td>{{o.name}}</td>
        <td>{{o.size}}</td>
        <td>{{o.type}}</td>
        <td>{{o.crust}}</td>
        <td>{{o.toppings}}</td>
        <td>{{o.price}}</td>
      </tr>
    </tbody>
  </table>

